<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>后台管理系统</title>

    <style>
        #sidebar{
            width: 200px;
            position: absolute;
            z-index: 1;
        }
        #main{
            margin-left: 210px;
            margin-right: 10px;
            width: 1200px;
            margin-top: 74px;
        }
    </style>

</head>


<body>
<!--导航-->
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">后台管理系统</a>
    </div>
    <ul class="nav navbar-nav" style="margin-right: 20px;float:right">
        <li><a href="#">欢迎用户，<span th:text="${username}"></span></a></li>
        <li><a th:href="@{/admin/outC}">退出</a></li>
    </ul>
</div>
<!--侧边栏-->
    <div class="navbar-default navbar-collapse" id="sidebar">
    <ul class="nav">
        <li>
            <a href="#sub1" data-toggle="collapse">用户管理<span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
            <ul id="sub1" class="nav collapse">
                <li><a th:href="@{/admin/findLimitC}">管理用户</a></li>
                <li><a th:href="@{/user/findLimitC}">会员用户</a></li>
            </ul>
        </li>
        <li>
            <a href="#sub3" data-toggle="collapse">订单管理<span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
            <ul id="sub3" class="nav collapse">
                <li><a th:href="@{/order/findLimitC}">订单展示</a></li>
            </ul>
        </li>
        <li>
            <a href="#sub2" data-toggle="collapse">权限管理<span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
            <ul id="sub2" class="nav collapse">
                <li><a th:href="@{/group/admin_gC}">角色-用户管理</a></li>
                <li><a th:href="@{/group/perssion_gC}">权限-角色管理</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--主页面-->
    <div id="main" >
        <!--管理用户管理-->
        <div id="main1"  style="display: block;">
            <!--搜索-->
            <form class="navbar-form pull-left" th:action="@{/admin/findLikeC}">
                <input type="text" class="span2" placeholder="请输入账号！" name="admin_name">
                <button type="submit" class="btn1">搜索</button>
            </form>
            <button  class="btn" style="float: right;" ><a th:href="@{/admin/saveC}">新增</a></button>
            <!-- 第一行-->
            <div class="row">
                <div class="col-sm-12">
                    <!--表格-->
                    <div class="panel panel-default"  th:if="${admins}==null"  style="display: block;">
                        <div class="panel-heading">数据展示</div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered" style="word-break:break-all; word-wrap:break-all;">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>账号</th>
                                        <th>密码</th>
                                        <th>随机</th>
                                        <th>状态</th>
                                        <th>认证</th>
                                        <th>登录时间</th>
                                        <th>登录ip</th>
                                        <th>登录次数</th>
                                        <th>最后登录时间</th>
                                        <th>最后登录ip</th>
                                        <th>删除</th>
                                        <th>修改</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="a,b:${list}">
                                        <td th:text="${a.getAdmin_id()}"></td>
                                        <td th:text="${a.getAdmin_name()}"></td>
                                        <td th:text="${a.getAdmin_pwd()}"></td>
                                        <td th:text="${a.getAdmin_random()}"></td>
                                        <td th:text="${a.getAdmin_status()}"></td>
                                        <td th:text="${a.getAdmin_auth()}"></td>
                                        <td th:text="${a.getAdmin_login_time()}"></td>
                                        <td th:text="${a.getAdmin_login_ip()}"></td>
                                        <td th:text="${a.getAdmin_login_num()}"></td>
                                        <td th:text="${a.getAdmin_last_login_time()}"></td>
                                        <td th:text="${a.getAdmin_last_login_ip()}"></td>
                                        <td ><a th:href="@{/admin/updateC(id=${a.getAdmin_id()})}">修改</a></td>
                                        <td ><a th:href="@{/admin/deleteOneC(id=${a.getAdmin_id()})}">删除</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--模糊查询-->
                    <div class="panel panel-default"  th:if="${admins!=null}" style="display:block;">
                        <div class="panel-heading">数据展示1</div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered" style="word-break:break-all; word-wrap:break-all;">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>账号</th>
                                    <th>密码</th>
                                    <th>随机</th>
                                    <th>状态</th>
                                    <th>认证</th>
                                    <th>登录时间</th>
                                    <th>登录ip</th>
                                    <th>登录次数</th>
                                    <th>最后登录时间</th>
                                    <th>最后登录ip</th>
                                    <th>删除</th>
                                    <th>修改</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="a,b:${admins}">
                                    <td th:text="${a.getAdmin_id()}"></td>
                                    <td th:text="${a.getAdmin_name()}"></td>
                                    <td th:text="${a.getAdmin_pwd()}"></td>
                                    <td th:text="${a.getAdmin_random()}"></td>
                                    <td th:text="${a.getAdmin_status()}"></td>
                                    <td th:text="${a.getAdmin_auth()}"></td>
                                    <td th:text="${a.getAdmin_login_time()}"></td>
                                    <td th:text="${a.getAdmin_login_ip()}"></td>
                                    <td th:text="${a.getAdmin_login_num()}"></td>
                                    <td th:text="${a.getAdmin_last_login_time()}"></td>
                                    <td th:text="${a.getAdmin_last_login_ip()}"></td>
                                    <td ><a th:href="@{/admin/updateC(id=${a.getAdmin_id()})}">修改</a></td>
                                    <td ><a th:href="@{/admin/deleteOneC(id=${a.getAdmin_id()})}">删除</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <!-- 分页-->
            <div id="main13" th:if="${admins}==null">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a th:href="@{/admin/lastpageC}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#" th:text="|第${P.getPage()}页|"></a></li>
                        <li>
                            <a th:href="@{/admin/indexpageC}"aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li><a th:href="@{/admin/startpageC}">首页</a></li>
                        <li><a th:href="@{/admin/endpageC}">末页</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div >

</body>
</html>