<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>吾爱小说-支付成功</title>
</head>
支付成功！正在跳转。。。
<body>
<span id="s"></span>
<script type="text/javascript">
    var s = document.getElementById('s');
    var time = 1; //时间,秒            　　　　　　　　
    function Redirect() {
        window.location = "http://localhost:8080/#/myself";
    }
    var i = 0;
    function dis() {
        s.innerHTML = "还剩" + (time - i) + "秒";
        i++;
    }
    timer = setInterval('dis()', 1000); //显示时间            　　　　　　　　
    timer = setTimeout('Redirect()', time * 1000); //跳转
</script>
</body>
</html>